In [1]:
import pandas as pd

In [4]:
#I got this Excel file from the attribute table in QGIS
df=pd.read_excel("TNBikeroutesCleanAT.xlsx")
df

,wkt_geom,Name,Unnamed: 2,vph,P,Wv,Sum_Bike_L,Sum_Parkin,BLOS_D,BLOS,...,K,Ws,N,BLOS_C,HV,OHP,Miles,DHV_PCT,D,MilesNumbe
0,MultiLineStringZ ((-84.14403151976772222 36.16...,01SR009001,NaN,128.125,4,32.625,0,0,-9.956953,-2.875545,...,0.08,12,2,0.441625,0.1,0,0.459842,10,0.65,0.460
1,MultiLineStringZ ((-84.10974187851074646 36.04...,01SR009001,NaN,361.666667,4,19,0,0,-3.645,4.472102,...,0.1,8,2,0.441625,0.12,0,0.039800,12,0.56,0.040
2,MultiLineStringZ ((-84.13172311974686579 36.10...,01SR009001,NaN,207.5,4,20,0,0,-3.92,2.234233,...,0.09,8,1,0.441625,0.11,0,0.068303,11,0.65,0.068
3,MultiLineStringZ ((-84.09295804013579811 36.03...,01SR009001,NaN,361.666667,4,22.5,0,0,-5.61125,2.505852,...,0.1,11,2,0.441625,0.12,0,0.119306,12,0.56,0.119
4,MultiLineStringZ ((-84.11223759505463704 36.04...,01SR009001,NaN,298.75,4,21,0,0,-4.805,3.206071,...,0.1,10,2,0.441625,0.12,0,0.049631,12,0.55,0.050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31808,"52377959344022 0, -87.19361928127196393 35.791...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31809,"813 35.72573563807743824 0, -87.23987339933046...",NaN,NaN,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,...,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,87.270733,<Null>,<Null>,87.271
31810,MultiLineStringZ ((-86.97469575345047588 36.02...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31811,"614555493 35.9680701572717183 0, -86.989616798...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31812,"0484183446202735 35.91173103666360333 0, -87.0...",NaN,NaN,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,...,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,13.175618,<Null>,<Null>,13.176

In [5]:
#I don't like that the number Miles column seems rounded, so going to do it this way
df['Miles']=df['Miles'].astype(float)

In [6]:
df['Miles'].sum()

12593.826576

In [10]:
miles_graded=df.groupby('Grade')['Miles'].sum()

In [15]:
miles_graded

Grade
A    2041.828251
B     926.671009
C    1358.535518
D    2811.661054
E    2924.089960
F    2531.040784
Name: Miles, dtype: float64

In [14]:
#So that I can make a chart with it
miles_graded.to_csv('gradedmiles.csv',index=False)